üìå PH·∫¶N 1: C∆† B·∫¢N V·ªÄ PANDAS

üìù B√†i 1: T·∫°o DataFrame t·ª´ Dictionary
üîπ Y√™u c·∫ßu:

T·∫°o m·ªôt DataFrame ch·ª©a th√¥ng tin c·ªßa 5 nh√¢n vi√™n v·ªõi c√°c c·ªôt: "H·ªç t√™n", "Tu·ªïi", "Ph√≤ng ban", "L∆∞∆°ng"
In ra DataFrame

üîπ G·ª£i √Ω:
D√πng pd.DataFrame() ƒë·ªÉ t·∫°o t·ª´ dictionary.

In [3]:
import numpy as np
import pandas as pd

employee_dict = {'H·ªç t√™n':['a','b','c'], 'Tu·ªïi':[4,5,6], 'Ph√≤ng ban':['d','e','f'], 'L∆∞∆°ng':[7,8,9]}
employee_df = pd.DataFrame(employee_dict)
employee_df

  H·ªç t√™n  Tu·ªïi Ph√≤ng ban  L∆∞∆°ng
0      a     4         d      7
1      b     5         e      8
2      c     6         f      9

üìù B√†i 2: ƒê·ªçc file CSV v√† hi·ªÉn th·ªã d·ªØ li·ªáu
üîπ Y√™u c·∫ßu:

ƒê·ªçc file CSV b·∫•t k·ª≥.
Hi·ªÉn th·ªã 3 d√≤ng ƒë·∫ßu ti√™n.
üîπ Dataset: employees.csv

üîπ G·ª£i √Ω:
D√πng pd.read_csv() v√† df.head(3).

In [6]:
import numpy as np
import pandas as pd

employees_df = pd.read_csv('dataset_for_practice/employees.csv')
employees_df.head(3)

         H·ªç t√™n  Tu·ªïi Ph√≤ng ban     L∆∞∆°ng
0  Nguy·ªÖn VƒÉn A    25   K·∫ø to√°n  12000000
1    Tr·∫ßn Th·ªã B    30        IT  15000000
2      L√™ VƒÉn C    35   Nh√¢n s·ª±  10000000

üìù B√†i 3: Th·ªëng k√™ c∆° b·∫£n
üîπ Y√™u c·∫ßu:
T√≠nh trung b√¨nh, gi√° tr·ªã l·ªõn nh·∫•t, nh·ªè nh·∫•t c·ªßa c·ªôt "L∆∞∆°ng".

üîπ G·ª£i √Ω:
D√πng .mean(), .max(), .min().

In [16]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees.csv')
salary_mean = employees_df['L∆∞∆°ng'].mean()
salary_max = employees_df['L∆∞∆°ng'].max()
salary_min = employees_df['L∆∞∆°ng'].min()
print(f'L∆∞∆°ng trung b√¨nh: {int(salary_mean):,}\nL∆∞∆°ng cao nh·∫•t: {int(salary_max):,}\nL∆∞∆°ng th·∫•p nh·∫•t: {int(salary_min):,}')

L∆∞∆°ng trung b√¨nh: 13,400,000
L∆∞∆°ng cao nh·∫•t: 17,000,000
L∆∞∆°ng th·∫•p nh·∫•t: 10,000,000

üìù B√†i 4: L·ªçc d·ªØ li·ªáu
üîπ Y√™u c·∫ßu:
L·ªçc ra nh·ªØng nh√¢n vi√™n c√≥ l∆∞∆°ng tr√™n 10 tri·ªáu.
üîπ G·ª£i √Ω:
D√πng boolean indexing: df[df["L∆∞∆°ng"] > 10000000]

In [22]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees.csv')
salary_10tr = employees_df[employees_df['L∆∞∆°ng'] > 10000000]
salary_10tr

         H·ªç t√™n  Tu·ªïi  Ph√≤ng ban     L∆∞∆°ng
0  Nguy·ªÖn VƒÉn A    25    K·∫ø to√°n  12000000
1    Tr·∫ßn Th·ªã B    30         IT  15000000
3    Ph·∫°m Th·ªã D    28  Marketing  13000000
4   Ho√†ng VƒÉn E    40         IT  17000000

üìù B√†i 5: Th√™m c·ªôt m·ªõi
üîπ Y√™u c·∫ßu:
Th√™m m·ªôt c·ªôt "Th∆∞·ªüng" = 10% l∆∞∆°ng c·ªßa m·ªói nh√¢n vi√™n.
üîπ G·ª£i √Ω:
D√πng df["Th∆∞·ªüng"] = df["L∆∞∆°ng"] * 0.1.

In [25]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees.csv')
employees_df['Th∆∞·ªüng'] = employees_df['L∆∞∆°ng']*0.1
employees_df

         H·ªç t√™n  Tu·ªïi  Ph√≤ng ban     L∆∞∆°ng     Th∆∞·ªüng
0  Nguy·ªÖn VƒÉn A    25    K·∫ø to√°n  12000000  1200000.0
1    Tr·∫ßn Th·ªã B    30         IT  15000000  1500000.0
2      L√™ VƒÉn C    35    Nh√¢n s·ª±  10000000  1000000.0
3    Ph·∫°m Th·ªã D    28  Marketing  13000000  1300000.0
4   Ho√†ng VƒÉn E    40         IT  17000000  1700000.0

üìå PH·∫¶N 2: X·ª¨ L√ù D·ªÆ LI·ªÜU

üìù B√†i 6: X·ª≠ l√Ω gi√° tr·ªã thi·∫øu (NaN)
üîπ Y√™u c·∫ßu:
Ki·ªÉm tra DataFrame c√≥ gi√° tr·ªã NaN kh√¥ng.
Thay th·∫ø t·∫•t c·∫£ gi√° tr·ªã NaN trong c·ªôt "L∆∞∆°ng" b·∫±ng m·ª©c l∆∞∆°ng trung b√¨nh.
üîπ G·ª£i √Ω:
D√πng .isnull().sum() ƒë·ªÉ ki·ªÉm tra, .fillna() ƒë·ªÉ thay th·∫ø.

In [30]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees_with_null.csv')
null_counter = sum(employees_df['L∆∞∆°ng'].isna())
print(f'Gi√° tr·ªã NaN: {null_counter}')
employees_df['L∆∞∆°ng'] = employees_df['L∆∞∆°ng'].fillna(employees_df['L∆∞∆°ng'].mean())
employees_df

Gi√° tr·ªã NaN: 2

         H·ªç t√™n  Tu·ªïi  Ph√≤ng ban       L∆∞∆°ng
0  Nguy·ªÖn VƒÉn A    25    K·∫ø to√°n  12000000.0
1    Tr·∫ßn Th·ªã B    30         IT  13000000.0
2      L√™ VƒÉn C    35    Nh√¢n s·ª±  10000000.0
3    Ph·∫°m Th·ªã D    28  Marketing  13000000.0
4   Ho√†ng VƒÉn E    40         IT  17000000.0

üìù B√†i 7: S·∫Øp x·∫øp d·ªØ li·ªáu
üîπ Y√™u c·∫ßu:
S·∫Øp x·∫øp nh√¢n vi√™n theo l∆∞∆°ng t·ª´ cao xu·ªëng th·∫•p.
üîπ G·ª£i √Ω:
D√πng df.sort_values(by="L∆∞∆°ng", ascending=False).

In [32]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees.csv')
employees_sorted = employees_df.sort_values(by='L∆∞∆°ng', ascending=False)
employees_sorted

         H·ªç t√™n  Tu·ªïi  Ph√≤ng ban     L∆∞∆°ng
4   Ho√†ng VƒÉn E    40         IT  17000000
1    Tr·∫ßn Th·ªã B    30         IT  15000000
3    Ph·∫°m Th·ªã D    28  Marketing  13000000
0  Nguy·ªÖn VƒÉn A    25    K·∫ø to√°n  12000000
2      L√™ VƒÉn C    35    Nh√¢n s·ª±  10000000

üìù B√†i 8: Nh√≥m d·ªØ li·ªáu
üîπ Y√™u c·∫ßu:

Nh√≥m nh√¢n vi√™n theo "Ph√≤ng ban", t√≠nh l∆∞∆°ng trung b√¨nh c·ªßa t·ª´ng ph√≤ng.
üîπ G·ª£i √Ω:
D√πng .groupby("Ph√≤ng ban")["L∆∞∆°ng"].mean().

In [33]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees.csv')
dept_mean_salary = employees_df.groupby('Ph√≤ng ban')['L∆∞∆°ng'].mean()
dept_mean_salary

Ph√≤ng ban
IT           16000000.0
K·∫ø to√°n      12000000.0
Marketing    13000000.0
Nh√¢n s·ª±      10000000.0
Name: L∆∞∆°ng, dtype: float64

üìù B√†i 9: Ch·ªçn d·ªØ li·ªáu b·∫±ng .iloc v√† .loc
üîπ Y√™u c·∫ßu:

Truy xu·∫•t th√¥ng tin nh√¢n vi√™n ·ªü d√≤ng th·ª© 3 b·∫±ng .iloc.
L·∫•y th√¥ng tin "H·ªç t√™n" c·ªßa nh√¢n vi√™n c√≥ "L∆∞∆°ng" > 15 tri·ªáu b·∫±ng .loc.
üîπ G·ª£i √Ω:
D√πng .iloc[] v√† .loc[].

In [11]:
import numpy as np
import pandas as pd
employees_df = pd.read_csv('dataset_for_practice/employees.csv')

# Truy xu·∫•t th√¥ng tin nh√¢n vi√™n ·ªü d√≤ng th·ª© 3 b·∫±ng .iloc
employees_df.iloc[[3]]

# L·ªçc nh√¢n vi√™n c√≥ l∆∞∆°ng > 15 tri·ªáu v√† ch·ªâ l·∫•y c·ªôt "H·ªç t√™n"
high_salary_employees = employees_df.loc[employees_df['L∆∞∆°ng'] > 15000000, 'H·ªç t√™n']

# Hi·ªÉn th·ªã k·∫øt qu·∫£
high_salary_employees

4    Ho√†ng VƒÉn E
Name: H·ªç t√™n, dtype: object

üìù B√†i 10: Xu·∫•t d·ªØ li·ªáu ra file CSV
üîπ Y√™u c·∫ßu:

L∆∞u DataFrame v√†o file CSV "filtered_employees.csv".
üîπ G·ª£i √Ω:
D√πng df.to_csv("filtered_employees.csv", index=False).

In [13]:
import numpy as np
import pandas as pd

employees_dict = {'H·ªç t√™n':['ƒê·ª©c','Quang','D≈©ng'], 'Tu·ªïi':[24,25,26], 'Ph√≤ng ban':['IT','MKT','SP'], 'L∆∞∆°ng':[7000000,8000000,9000000]}
employees_df = pd.DataFrame(employees_dict)
employees_df.to_csv('exported_employees.csv', index=False,  encoding='utf-8')

üìå PH·∫¶N 3: CH·ª¶ ƒê·ªÄ TH·ª∞C T·∫æ

üìù B√†i 11: Ph√¢n t√≠ch d·ªØ li·ªáu Titanic
üîπ Y√™u c·∫ßu:

ƒê·ªçc file titanic.csv (t√¥i s·∫Ω cung c·∫•p).
Hi·ªÉn th·ªã th√¥ng tin t·ªïng quan b·∫±ng .info().
üîπ Dataset: titanic.csv

üîπ G·ª£i √Ω:
D√πng .info() ƒë·ªÉ xem ki·ªÉu d·ªØ li·ªáu.

In [17]:
import numpy as np
import pandas as pd

titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')
titanic_df.head(10)

   PassengerId  Survived  Pclass                    Name     Sex   Age    Fare
0            1         1       1  Allen, Miss. Elisabeth  female  29.0  211.34
1            2         0       3        Braund, Mr. Owen    male  22.0    7.25
2            3         1       3  Heikkinen, Miss. Laina  female  26.0    7.92
3            4         1       1  Futrelle, Mrs. Jacques  female  35.0   53.10
4            5         0       2        Moran, Mr. James    male   NaN   13.00

üìù B√†i 12: T·ª∑ l·ªá s·ªëng s√≥t theo gi·ªõi t√≠nh
üîπ Y√™u c·∫ßu:

T√≠nh t·ª∑ l·ªá s·ªëng s√≥t c·ªßa nam v√† n·ªØ (Survived).
üîπ G·ª£i √Ω:
D√πng .groupby("Sex")["Survived"].mean().

In [2]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')

# C√°ch 1: K·∫øt qu·∫£ tr·∫£ v·ªÅ l√† DataFrame (m·ªôt b·∫£ng 2D v·ªõi nhi·ªÅu Series) v·ªõi c·∫•p ƒë·ªô c·ªôt (multi-index).
survived_rate_mean1 = titanic_df.groupby('Sex').agg({'Survived':['mean']})
survived_rate_mean1
# C√°ch 2: K·∫øt qu·∫£ tr·∫£ v·ªÅ l√† Series (1 m·∫£ng 1D c√≥ nh√£n t∆∞∆°ng t·ª± m·ªôt c·ªôt trong b·∫£ng), ch·ª© kh√¥ng ph·∫£i DataFrame.
survived_rate_mean2 = titanic_df.groupby("Sex")["Survived"].mean()
survived_rate_mean2
# K·∫øt lu·∫≠n: N·∫øu ch·ªâ c·∫ßn gi√° tr·ªã trung b√¨nh th√¨ d√πng c√°ch 2 cho ƒë∆°n gi·∫£n. 
# N·∫øu c·∫ßn m·ªü r·ªông ph√¢n t√≠ch th√¨ d√πng c√°ch 1 v·ªõi .agg()

Sex
female    1.0
male      0.0
Name: Survived, dtype: float64

üìù B√†i 13: ƒê·ªô tu·ªïi trung b√¨nh c·ªßa ng∆∞·ªùi s·ªëng s√≥t
üîπ Y√™u c·∫ßu:
T√≠nh tu·ªïi trung b√¨nh c·ªßa nh·ªØng ng∆∞·ªùi s·ªëng s√≥t (Survived = 1).
üîπ G·ª£i √Ω:
D√πng df[df["Survived"] == 1]["Age"].mean().

In [4]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')
mean_survivor_age = titanic_df[titanic_df['Survived'] == 1]['Age'].mean()
print(mean_survivor_age)

30.0

üìù B√†i 14: Ph√¢n t√≠ch gi√° v√©
üîπ Y√™u c·∫ßu:

T√≠nh gi√° v√© trung b√¨nh c·ªßa t·ª´ng h·∫°ng (Pclass).
üîπ G·ª£i √Ω:
D√πng .groupby("Pclass")["Fare"].mean().

In [11]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')
mean_fare = titanic_df.groupby('Pclass').agg({'Fare':['mean']})
mean_fare

           Fare
           mean
Pclass
1       132.220
2        13.000
3         7.585

üìù B√†i 15: T·∫°o c·ªôt m·ªõi
üîπ Y√™u c·∫ßu:
Th√™m c·ªôt "Fare_inflation" = "Fare" * 146.14.
üîπ G·ª£i √Ω:
D√πng df["Fare_inflation"] = df["Fare"] * 146.14.

In [19]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')
titanic_df['Fare_inflation'] = round(titanic_df['Fare'] * 146.14, 2)
titanic_df
#fare_inflation_by_Pclass = titanic_df.groupby('Pclass')['Fare_inflation'].mean()
#fare_inflation_by_Pclass

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Fare_inflation
0,1,1,1,"Allen, Miss. Elisabeth",female,29.0,211.34,30885.23
1,2,0,3,"Braund, Mr. Owen",male,22.0,7.25,1059.51
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.92,1157.43
3,4,1,1,"Futrelle, Mrs. Jacques",female,35.0,53.10,7760.03
4,5,0,2,"Moran, Mr. James",male,NaN,13.00,1899.82

üìå PH·∫¶N 4: B√ÄI T·∫¨P N√ÇNG CAO

üìù B√†i 16: T·∫°o c·ªôt ph√¢n lo·∫°i tu·ªïi
üîπ Y√™u c·∫ßu:
T·∫°o c·ªôt "Age_group":
<18: Tr·∫ª em
18-60: Ng∆∞·ªùi l·ªõn
>60: Ng∆∞·ªùi gi√†
üîπ G·ª£i √Ω:
D√πng pd.cut() ƒë·ªÉ ph√¢n nh√≥m d·ªØ li·ªáu.

In [23]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')
titanic_df['Age_group'] = pd.cut(titanic_df['Age'], bins=[0, 18, 60, 150], labels=['Tr·∫ª em','Ng∆∞·ªùi l·ªõn','Ng∆∞·ªùi gi√†'], right=True, include_lowest=True)
titanic_df

,PassengerId,Survived,Pclass,Name,Sex,Age,Fare,Age_group
0,1,1,1,"Allen, Miss. Elisabeth",female,29.0,211.34,Ng∆∞·ªùi l·ªõn
1,2,0,3,"Braund, Mr. Owen",male,22.0,7.25,Ng∆∞·ªùi l·ªõn
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,7.92,Ng∆∞·ªùi l·ªõn
3,4,1,1,"Futrelle, Mrs. Jacques",female,35.0,53.10,Ng∆∞·ªùi l·ªõn
4,5,0,2,"Moran, Mr. James",male,NaN,13.00,NaN

üìù B√†i 17: Tr·ª±c quan h√≥a d·ªØ li·ªáu
üîπ Y√™u c·∫ßu:
V·∫Ω bi·ªÉu ƒë·ªì c·ªôt th·ªÉ hi·ªán s·ªë l∆∞·ª£ng h√†nh kh√°ch theo h·∫°ng (Pclass).
üîπ G·ª£i √Ω:
D√πng df["Pclass"].value_counts().plot(kind="bar").

In [ ]:
PASS

üìù B√†i 18: L·ªçc h√†nh kh√°ch VIP
üîπ Y√™u c·∫ßu:
L·ªçc h√†nh kh√°ch c√≥ gi√° v√© (Fare) > 100.
üîπ G·ª£i √Ω:
D√πng df[df["Fare"] > 100].

In [24]:
import numpy as np
import pandas as pd
titanic_df = pd.read_csv('dataset_for_practice/titanic.csv')
fare_100 = titanic_df[titanic_df['Fare'] > 100]
fare_100

   PassengerId  Survived  Pclass                    Name     Sex   Age    Fare
0            1         1       1  Allen, Miss. Elisabeth  female  29.0  211.34

üìù B√†i 19: Ph√¢n t√≠ch d·ªØ li·ªáu sinh vi√™n
üîπ Y√™u c·∫ßu:
ƒê·ªçc file students.csv (t√¥i s·∫Ω cung c·∫•p).
T√≠nh ƒëi·ªÉm trung b√¨nh c·ªßa t·ª´ng h·ªçc sinh.
üîπ Dataset: students.csv
üîπ G·ª£i √Ω:
D√πng .mean(axis=1).

In [37]:
import numpy as np
import pandas as pd
student_df = pd.read_csv('dataset_for_practice/students.csv')
student_df['ƒêi·ªÉm trung b√¨nh'] = round(student_df.mean(axis=1, numeric_only=True), 1)
student_df

       H·ªç t√™n  To√°n  VƒÉn  Anh  ƒêi·ªÉm trung b√¨nh
0   B√πi VƒÉn H     8    6    7              7.0
1  ƒêinh Th·ªã K     7    9    8              8.0
2    V√µ VƒÉn M     6    5    9              6.7
3    T·∫° Th·ªã N     9    7    6              7.3
4  Phan VƒÉn P     5    8    7              6.7

üìù B√†i 20: T√¨m sinh vi√™n c√≥ ƒëi·ªÉm cao nh·∫•t
üîπ Y√™u c·∫ßu:
T√¨m sinh vi√™n c√≥ ƒëi·ªÉm trung b√¨nh cao nh·∫•t.
üîπ G·ª£i √Ω:
D√πng .idxmax().

In [44]:
import numpy as np
import pandas as pd
student_df = pd.read_csv('dataset_for_practice/students.csv')
student_df['ƒêi·ªÉm trung b√¨nh'] = round(student_df.mean(axis=1, numeric_only=True), 1)
index_top_1_sv = student_df['ƒêi·ªÉm trung b√¨nh'].idxmax()
student_df.iloc[index_top_1_sv]

H·ªç t√™n             ƒêinh Th·ªã K
To√°n                        7
VƒÉn                         9
Anh                         8
ƒêi·ªÉm trung b√¨nh           8.0
Name: 1, dtype: object